*{
    margin: 0;
    padding: 0;
}
ul ,ol{
    list-style: none;
}
.home-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 999;
    text-align: center;
    background: #666;
    min-width: 960px;
}
.home-header > .home-container{
    width: 960px;
}
.home-header .logo{
    float: left;
}
.home-header .home-navbar{
    display: inline-block;
    margin-left: 50px;
    margin-right: 60px;
}

.home-header .home-nav-item{
    position: relative;
    float: left;
    height: 60px;
    color:#ddd;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 14px;
    line-height: 60px;
    
}

