*{
    margin: 0;
    padding: 0;
}
ul ,ol{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.home-header #teamhome .site-nav{
    padding: 5px 0 20px 0;
    overflow: hidden;
}
.home-header #teamhome .nba-logo{
    height: 28px;
    background: url('http://i2.muimg.com/588926/a6b557a18b242040.png') no-repeat left top;
    padding: 2px 0 0 24px;
    font-size: 16px;
}
.home-header #teamhome .nba-logo {
    width: 160px;
}
.home-header #teamhome .nba-logo a{
    color: #fff;
    text-decoration: none;
}
.home-header .home-navtop{
    background:#031016;
    width: 100%;
    min-width: 1000px;
}
.home-header #teamhome .team-home{
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
}
.wrap{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.home-header #teamhome .team-logo{
    padding-left: 98px;
    background: url('http://i1.piimg.com/588926/f62898f4ea4457af.png') left top no-repeat;
}
#teamhome .team-logo{
    width: 340px;
    height: 50px;
    padding: 40px 0 20px 106px;
    font-size: 16px;
}
.home-header #teamhome .team-logo p span{
    float: left;
    display: block;
}
.home-header #teamhome .team-logo p span.regular{
    border-right: 1px solid #01050d;
    padding-right: 10px;
}
.home-header #teamhome .team-logo p span.rank{
    padding-left: 10px;
    width: 86px;
    border-left: 1px solid #055277;
}
.home-header #teamhome .team-match li{
    font-size: 14px;
}
.home-header #teamhome .team-match li span{
    display: inline-block;
    width: 56px;
    text-align: left;
}
.home-header #teamhome .team-match em{
    display: inline-block;
    width: 154px;
    font-style: normal;
    text-align: right;
}
.home-header #teamhome .team-logo p , .team-match li{
    padding-bottom: 4px;
    clear: both; 
}

.home-header .home-navbar{
    background: #031924;
    width: 100%;
}
.home-header .home-navbar .home-nav-list{
    width: 1000px;
    height: 60px;
    line-height: 60px;    
}
.home-header .home-navbar .home-nav-list li{
    float: left;
}
.home-header .home-navbar .home-nav-item{
    height: 60px;
    color: #5a5f63;
}
.home-header .home-navbar .home-nav-item .home-nav-link{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 20px;
}

/*内容部分*/
.content{
    min-width: 1000px;
    padding: 1px 0;
    width: 100%;
    background: #030b0e url('http://i1.piimg.com/588926/c10cbb112ac72e4a.jpg') center 0/100% auto no-repeat;
}
.content #home-page .home-slides{
    position: relative;
}
.content #home-page> div{
    max-width: 800px;
    margin: 0 auto;
}
.content #home-page> img{
    width: 100%;
}

/*新闻部分*/
.content #news{
    margin: 30px 0;
}
.content #news> ul> li{
    display: flex;
    margin: 20px 0;
}
.content #news> ul> li> p{
    border: 1px solid red;
    flex-grow: 1;
}
.content #news> ul> li:nth-child(odd)> img{
    order: 2;
}
.content #news> ul> li:nth-child(odd)> p{
    order: 1;
}


