body{
  background:#C6C2BD;
  display: flex;
  height:100vh;
  justify-content:center;
  align-items:center;
}
.outer{
  border:1px solid black;
  width:230px;
  height:230px;
  border-radius:20%;
  display: flex;
  justify-content:center;
  align-items:center;
  background:#2a2a2b;
  box-shadow: 0px 5px 1em #7c7472; 
}
.clock{
  border:1px solid black;
  width:200px;
  height:200px;
  border-radius:50%;
  position:relative;
  background:#EEF2F3;
  box-shadow:inset 0px 10px 1em #A7A6A0; 
}
.a{
  position:absolute;
  top:50%;
  left:90%;
  margin-top:-12px;
  font-size:24px; 
}
.b{
  position:absolute;
  top:85%;
  left:50%;
  margin-left:-6px;
  font-size:24px;
}
.c{
  position:absolute;
  top:50%;
  right:90%;
  margin-top:-12px;
  font-size:24px;
}
.d{
  position:absolute;
  top:5%;
  left:50%;
  margin-left:-12px;
  font-size:24px;
}
.clock::after{
  content:"";
  width: 12px;
  height: 12px;
  background: #FAD200;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -6px;
  margin-top: -6px;  
}
.clock>div{
  position:absolute;
  top:50%;
  left:50%;
  height:1px;
  background:#2a2a2b;
  width:80px;
}
.clock>.second-hand{
  height:2px;
  width:100px;
  background:#FAD200;
  transform-origin:0 0;
  transform:rotate(-90deg);
}
.clock>.minute-hand{
  height:3px;
  margin-top:-1px;
  transform-origin:0 1px;
  transform:rotate(-90deg);
}
.clock>.hour-hand{
  width:60px;
  height:6px;
  margin-top:-2px;
  transform-origin:0 2px;
  transform:rotate(-90deg);
}
